{
	auto_https off
	admin off
}

:8080 {
	@healthz path /healthz
	handle @healthz {
		respond "OK" 200
	}

	@authorized path /__BEARER_TOKEN__/*
	handle @authorized {
		uri strip_prefix /__BEARER_TOKEN__
		reverse_proxy 127.0.0.1:8081
	}

	handle {
		respond "Not Found" 404
	}
}
